.v-enter-active,
.v-leave-active {
    transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
}

.list-move,
/* apply transition to moving elements */
.list-enter-active,
.list-leave-active {
    transition: all 0.5s ease;
}

.list-enter-from {
    opacity: 0;
    transform: translateX(40px);
}

.list-leave-to {
    opacity: 0;
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
.list-leave-active {
    /* position: absolute; */
}

.company {
    backface-visibility: hidden;
    z-index: 1;
}

/* moving */
.company-move {
    transition: all 600ms ease-in-out 50ms;
}

/* appearing */
.company-enter-active {
    transition: all 400ms ease-out;
}

/* disappearing */
.company-leave-active {
    transition: all 200ms ease-in;
    position: absolute;
    z-index: 0;
}

/* appear at / disappear to */
.company-enter,
.company-leave-to {
    opacity: 0;
}