@use "sass:map";

$breakpoints: (
    xs: 480px,
    s: 768px,
    sm: 1024px,
    md: 1440px,
    lg: 1920px,
);


@mixin respond-to($key) {
    @if map.has-key($breakpoints, $key) {
        $size: map.get($breakpoints, $key);

        @media (max-width: $size) {
            @content;
        }
    }
}


@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin ellipsis() {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin hover {
    $desktop: map.get($breakpoints, 'sm');

    @media (min-width: #{$desktop + 1px}) {
        &:hover {
            @content;
        }
    }
}