/* Screen font-sizes for html*/
:root {
    --fs-320: 8px;
    --fs-768: 10px;
    --fs-1440: 11px;
    --fs-1920: 15px;
}

/* Colors */
:root {
    --main-1: #f95738;
    --main-1-light: #ff836b;
    --main-2: #2f4f4f;
    --main-3: #9ea4a7;
    --white: #ffffff;
    --black: #2a3a42;
    --border-color: #2f4f4f45;
}

/* Sizes */
:root {
    --gap: 1.6rem;
    --gap-sm: calc(var(--gap) / 2);
    --header-height: 5.6rem;
    --border-radius: 0.4rem;
}

/* Typography */
:root {
    --h1: 5.4rem;
    --h2: 4.8rem;
    --h3: 3.6rem;
    --h4: 2.6rem;
    --fs-base: 1.6rem;
    --fs-small: 1.2rem;
    --fs-micro: 1rem;
}