@import "_variables.css";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

html {
    font-size: var(--fs-lg);
    line-height: 1;

    @media screen and (767px < width <1440px) {
        font-size: var(--fs-md);
    }

    @media screen and (319px <width <768px) {
        font-size: var(--fs-sm);
    }
}

body {
    min-height: 100vh;
    /* overflow: hidden; */
    color: var(--text-dark);
    background: #EFF2F4;
    transition: color 0.5s, background-color 0.5s;
    font-family: 'Epilogue', sans-serif;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.reverse {
    color: var(--text-light);
}


.container {
    max-width: 80rem;
    margin-inline: auto;
}

a {
    text-decoration: none;
    color: var(--black);
    cursor: pointer;
}

li {
    list-style: none;
}

button {
    border: none;
    outline: none;
    font-family: inherit;
    cursor: pointer;
}

.title {
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: -3%;
    text-transform: uppercase;
}

.swiper-button-prev,
.swiper-button-next {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--main-2);
}

.swiper-button-next {

    &:after {
        display: block;
        color: var(--white);
        font-size: 2rem !important;
    }
}

.swiper-button-prev {
    &:after {
        display: block;
        color: var(--white);
    }
}