@import "_variables.css";
@import "_animations.css";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

html {
    font-size: var(--fs-1440);
    line-height: 1;

    @media screen and (min-width: 1441px) {
        font-size: var(--fs-1920);
    }

    @media screen and (768px <=width <1440px) {
        font-size: var(--fs-768);
    }

    @media screen and (320px <=width <768px) {
        font-size: var(--fs-320);
    }
}

body {
    min-height: 100vh;
    color: var(--black);
    background: #EFF2F4;
    transition: color 0.5s, background-color 0.5s;
    font-family: 'Advent Pro', sans-serif;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.reverse {
    color: var(--white);
}


.container {
    max-width: 80rem;
    margin-inline: auto;
}

a {
    text-decoration: none;
    color: var(--black);
    cursor: pointer;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

button {
    border: none;
    outline: none;
    font-family: inherit;
    cursor: pointer;
}

h2 {
    font-size: var(--h2);
}

h4 {
    font-size: var(--h4);
}

input,
textarea {
    border: none;
    outline: none;
}



.title {
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: -3%;
    text-transform: uppercase;
}

.swiper-button-prev,
.swiper-button-next {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--main-2);
}

.swiper-button-next {

    &:after {
        display: block;
        color: var(--white);
        font-size: 2rem !important;
    }
}

.swiper-button-prev {
    &:after {
        display: block;
        color: var(--white);
    }
}